@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.section{
     min-height: 69vh;
}

 .hovereffect {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   }
   
   
   /* .hovereffect:hover {
     box-shadow: 0 0 10px rgb(255, 255, 255);
   } */
   
    .hovereffect:hover {
     box-shadow: 0 0 10px inset rgba(252, 252, 252, 0.5);
   } 
/*
   .hovereffect:hover {
     box-shadow: 0 0 10px rgb(248, 247, 247);
   }  */

   
